@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');
/* This controls the spacing of text between each line  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #ff7613;
    --text-color: #727171;

}
/*This controls the font size of the whole html page */
html{
    font-size: 12px;
}
body{
    font-family: Inter, sans-serif;
    background-color:black;
    color: white;
}
img{
    width: 100%;
}
a {
    text-decoration: none;
    color: blue;
}
/* this is for description   */
.description{
    margin-top: 1rem;  /*create space abouve the element pushing the text down */
    font-size: 1.5rem;
    font-weight: 400; /* represents how thick the text should appear */
    color: var(--text-color);

}
.title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;

}
/* Layouts syles
This will be in charge of moving the picture width around the html file  
*/
.container{
max-width: 10000px;
width: 99%;
margin: auto;
display: grid;
padding: 5rem;
background:#070707;

/* This will create a grid-template to separate the html files in half  */
grid-template-columns: 1fr 1fr ;
gap: 4rem

}

/*  layout for smaller devices with small screen make sure to still display full image  */
@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}
/* style for the profile container */
.profile_container{
    display: flex;
    gap: 2rem;
}
.profile_profileImg{
    max-width: 250;
}


.profile_name_firstName{
    color: White;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem); /* 2 rem and 4rm represent the largest font each can be  */
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}

.profile_name_lastName {
    color: var(--primary-color);
    font-weight: 780;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;

}
.profile_title{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}
.downloadBtn{
    display: block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 1rem;
}
.downloadBtn:hover{
    color: var(--primary-color);
}
/*   This is how the display will appear on phone. The name will appear below the picture */

@media only screen and (max-width: 768px){
    .profile_container{
        flex-direction: column;
    }
}
/* Expertise */
.umdlogo{
    margin-top: -30rem;
    margin-left:80rem;
    margin-right: -60rem;
}
.skill_list {
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}
.edu_item{
    margin-top: 2rem;
}


